/* 自定义页面样式 jiangkunpeng */
@charset "UTF-8";
/*---- 全局 ----*/
.mt10 {
  margin-top: 10px;
}
.mt5 {
  margin-top: 5px;
}
.font-small {
  font-size: 14px;
}
.ip-address i {
  vertical-align: top;
}
.ip-address span {
  padding: 6px 0 6px 13px;
  color: #333;
}
.ip-address b {
  display: inline-block;
  font-weight: normal;
}
#header_notification_bar {
  display: none;
}
.DT-pagination-container {
  display: none;
}
.table-list-count label {
  line-height: 32px;
  border-radius: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.ip-search-action {
  display: inline-block;
  vertical-align: top;
}
.display{display:none;}
.input-strong-input{padding: 2px;display: inline-block;font-weight:normal;}

/* jiangkunpeng */
.wd60{width:60px;}
.wd80{width:80px;}
.red{color:red;}

/* 系统版本信息 */
.container-fluid .brand{width:auto;width:200px\9;color:#00FBD5;font-weight:bold}
a.sys_version{float:left;display:inline-block;margin:12px 0 12px 20px;color:#999;}
/* 日期控件 */
input.laydate-icon{width:160px;}

/* 表单单选/复选/全选 */
.radio_label{float: left;padding:0 !important;margin: 0 !important;margin-top:8px !important;margin-right:15px !important;}
.radio_label input[type="radio"]{margin-top:0px;margin-left:5px;}
.radio_label input[type="checkbox"]{margin-top:0px;margin-left:5px;}

/* 表单内部行 */
.controls .inner-row{padding-top:5px;}
.controls .inner-row label{float:left;min-width:50px;width:auto;padding-top:7px;text-align:right;}
.controls .inner-row .btn{margin-top:6px;}

/* 调整样式,布局更紧凑 */
.page-title{font-size:25px;margin:10px 0px 0px 0px;font-family:'Open Sans','microsoft yahei';}
.page-content .breadcrumb{margin-bottom:10px;}
.portlet.box > .portlet-title{padding:5px 10px 0px 10px}
.portlet.box > .portlet-body{padding:5px;}
.form-row-seperated .control-group{padding-bottom:5px;margin-bottom:5px;margin-left:-5px !important;margin-right:-5px !important;}
.portlet.box .form .form-actions, .portlet.solid .form .form-actions{margin-left:-5px !important;margin-right:-5px !important;margin-bottom:-5px !important;}
.portlet{margin-bottom:10px;}

.portlet.box .form-horizontal.form-bordered .control-group{margin-left:-5px !important;margin-right:-5px !important;}
.form-horizontal.form-bordered .control-group .control-label{margin-top:5px !important;}
.form-horizontal.form-bordered .control-group .controls{padding:5px;}
.form-horizontal .control-label{width:120px}
.form-horizontal .controls{margin-left:130px}
.form-horizontal .control-group {margin-bottom:10px;}
.form .form-actions{padding:5px 20px 5px 130px !important; margin-bottom:0px !important;}

.detail .form-horizontal .control-label{padding-top:0px;margin-top:0px;width:100px;}
.detail .form-horizontal .controls{margin-left:110px;font-size: 14px;}
.detail .form-horizontal .form-actions{padding: 5px 5px 5px 120px !important;;}

.controls .hint{display:inline;line-height:32px;}

/* 面包屑链接 */
.page-content .breadcrumb a{color:#0d638f}

/* 面包屑右侧按钮组 */
.page-content .breadcrumb .tools{float:right;padding-right:10px;}
.page-content .breadcrumb .tools i{font-size:12px;color:white;}
.page-content .breadcrumb .tools span{font-size:12px;color:white;}

/* 快速时间选择下拉框 */
select.fast-time{width:170px;}

/* 左侧菜单-多层次 */
ul.page-sidebar-menu > li > a {padding-left: 5px !important;}
ul.page-sidebar-menu > li > ul.sub-menu > li > a {padding-left: 20px !important;}
ul.page-sidebar-menu > li > ul.sub-menu > li > ul.sub-menu > li > a {padding-left: 35px !important;}
ul.page-sidebar-menu > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > a {padding-left: 50px !important;}
ul.page-sidebar-menu > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > a {padding-left: 65px !important;}
ul.page-sidebar-menu > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > a {padding-left: 80px !important;}

/* ajax-loading */
.ajax-loading {display: none; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.3);}
.ajax-loading .ajax-loading-in {
  width: 100px; height: 100px; position: absolute; left: 50%; top: 50%; margin: -50px 0 0 -50px;
  text-align: center; font-size: 14px; line-height: 100px; border-radius: 10px; background-color: rgba(0, 0, 0, 0.7); color: #fff;
}

/* 圆角 Begin */
.container-fluid{
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;"
}
.btn{
	-webkit-border-radius: 4px !important;
	-moz-border-radius: 4px !important;
	border-radius: 4px !important;
}
div, input, select, textarea, table, p, a, button, ul, li {
	-webkit-border-radius: 4px !important;
	-moz-border-radius: 4px !important;
	border-radius: 4px !important;
}
div.page-content{
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
}
/* 圆角 End */