/* 组件库 by zenglican 2013-10-31 */
@charset "UTF-8";
/*---- 全局 ----*/
.mt10 {
  margin-top: 10px;
}
.mt5 {
  margin-top: 5px;
}
.font-small {
  font-size: 14px;
}
.ip-address i {
  vertical-align: top;
}
.ip-address span {
  padding: 6px 0 6px 13px;
  color: #333;
}
.ip-address b {
  display: inline-block;
  font-weight: normal;
}
#header_notification_bar {
  display: none;
}
.DT-pagination-container {
  display: none;
}
.table-list-count label {
  line-height: 32px;
  border-radius: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.ip-search-action {
  display: inline-block;
  vertical-align: top;
}
.display{display:none;}
.input-strong-input{padding: 2px;display: inline-block;font-weight:normal;}

/* jiangkunpeng */
.wd60{width:60px;}
.wd80{width:80px;}
.red{color:red;}

/* 系统版本信息 */
.container-fluid .brand{width:auto;color:#00FBD5;font-weight:bold}
a.sys_version{float:left;display:inline-block;margin:12px 0 12px 20px;color:#999;}
/* 日期控件 */
input.laydate-icon{width:160px;}

/* 表单单选/复选/全选 */
.radio_label{float: left;padding:0 !important;margin: 0 !important;margin-top:8px !important;margin-right:15px !important;}
.radio_label input[type="radio"]{margin-top:0px;margin-left:5px;}
.radio_label input[type="checkbox"]{margin-top:0px;margin-left:5px;}
/* 自定义展开/收缩 */
.my_tools{width:20px;height:30px;float:right;}
.my_tools a{float:right;width:14px;height:16px;display:block;}
.my_tools a.expand{background-image:url(http://s1.yy.com/sysop_fed_lib/assets/img/portlet-expand-icon.png)}
.my_tools a.collapse{background-image:url(http://s1.yy.com/sysop_fed_lib/assets/img/portlet-collapse-icon.png)}
.control-group div.expand{height:60px;overflow: hidden;}

/* 更多展开/收缩 */
.extra_row{width:100%;text-align:center;margin-top:-6px;height:25px;margin-left:-5px;margin-right:-5px;padding-right:10px;border-top:1px solid #ddd;}
.extra_row .extra_label{margin-top:-1px;height:22px;position:relative;display:inline-block;border-left: 1px solid #ddd;border-right: 1px solid #ddd;border-bottom: 1px solid #ddd;border-top: 1px solid #fff;padding:0px 10px 0px 10px;cursor:pointer;}
.extra_row .extra_label .my_tools{width:20px;height:22px;padding-top:2px;}

/* 表单内部行 */
.controls .inner-row{padding-top:5px;}
.controls .inner-row label{float:left;min-width:50px;width:auto;padding-top:7px;text-align:right;}
.controls .inner-row .btn{margin-top:6px;}

/* 调整样式,布局更紧凑 */
.page-title{font-size:25px;margin:10px 0px 0px 0px;font-family:'Open Sans','microsoft yahei';}
.page-content .breadcrumb{margin-bottom:10px;}
.portlet.box > .portlet-title{padding:5px 10px 0px 10px}
.portlet.box > .portlet-body{padding:5px;}
.form-row-seperated .control-group{padding-bottom:5px;margin-bottom:5px;margin-left:-5px !important;margin-right:-5px !important;}
.portlet.box .form .form-actions, .portlet.solid .form .form-actions{margin-left:-5px !important;margin-right:-5px !important;margin-bottom:-5px !important;}
.portlet{margin-bottom:10px;}

.portlet.box .form-horizontal.form-bordered .control-group{margin-left:-5px !important;margin-right:-5px !important;}
.form-horizontal.form-bordered .control-group .control-label{margin-top:5px !important;}
.form-horizontal.form-bordered .control-group .controls{padding:5px;}
.form-horizontal .control-label{width:120px}
.form-horizontal .controls{margin-left:130px}
.form .form-actions{padding:5px 20px 5px 130px}

.controls .hint{display:inline;line-height:32px;}

/* 面包屑链接 */
.page-content .breadcrumb a{color:#0d638f}

/* 面包屑右侧按钮组 */
.page-content .breadcrumb .tools{float:right;padding-right:10px;}
.page-content .breadcrumb .tools i{font-size:12px;color:white;}
.page-content .breadcrumb .tools span{font-size:12px;color:white;}

/* 快速时间选择下拉框 */
select.fast-time{width:170px;}

/* 左侧菜单-多层次 */
ul.page-sidebar-menu > li > a {padding-left: 5px !important;}
ul.page-sidebar-menu > li > ul.sub-menu > li > a {padding-left: 20px !important;}
ul.page-sidebar-menu > li > ul.sub-menu > li > ul.sub-menu > li > a {padding-left: 35px !important;}
ul.page-sidebar-menu > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > a {padding-left: 50px !important;}
ul.page-sidebar-menu > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > a {padding-left: 65px !important;}
ul.page-sidebar-menu > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > a {padding-left: 80px !important;}

/* 右键菜单 */
.contextMenu {
	position: absolute;
	width: 120px;
	z-index: 99999;
	border: solid 1px #CCC;
	background: #EEE;
	padding: 0px;
	margin: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	display: none;
	cursor:default;
}
.contextMenu a {
	color: #333;
	text-decoration: none;
	display: block;
	line-height: 20px;
	height: 20px;
	background-position: 6px center;
	background-repeat: no-repeat;
	outline: none;
	padding: 1px 5px;
	padding-left: 28px;
	border: 1px #EEE solid;
}
.contextMenu li:hover a {
	background-color: #D2E6FF;
	color: black;
	border: 1px #84ACDD solid;
	opacity: 0.8;
	filter: alpha(opacity = 80);
}

/* 圆角 Begin */
.container-fluid{
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;"
}
.btn{
	-webkit-border-radius: 4px !important;
	-moz-border-radius: 4px !important;
	border-radius: 4px !important;
}
div, input, select, textarea, table, p, a, button, ul, li {
	-webkit-border-radius: 4px !important;
	-moz-border-radius: 4px !important;
	border-radius: 4px !important;
}
/* 圆角 End */